* {
  font-family: "Readex Pro";
}
a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

a:hover {
  color: #0e466e;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

hr {
  margin-top: 0px;
  margin-bottom: 5%;
}

#MainMenu {
  visibility: hidden;
}
footer {
  visibility: hidden;
}
header {
  visibility: hidden;
}
